/* HERO SECTION *********************** */
section.hero{
	background-image: url('../images/hero_history.jpg');
}


/* PRICE PACKS SECTION *************** */

section.price-packs{
	background-image: url('../images/background_dots_04.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 8em;
	padding-bottom: 8em;
	position: relative;
}
section.price-packs header{
	width: 100% !important;
}
section.price-packs .plans{
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	margin-top: 4em;
	width: 100%;
}
section.price-packs .plans .card{
	width: calc((100% - 80px) / 3);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em 0;
	border: 1px solid #dedede;
	border-radius: 10px;
	background-color: #fff;
	transition: all .4s .1s;
}
section.price-packs .plans .card:hover{
	box-shadow: 0 25px 20px -20px rgb(0 0 0 / 20%);
}
section.price-packs .plans .card i{
	font-size: 3rem;
	color: var(--accent1);
	margin-bottom: 20px;
}
section.price-packs .plans .card .name{
	font-size: 1.75rem;
	font-weight: 600;
	color: var(--accent1);
	margin-bottom: 20px;
}
section.price-packs .plans .card .text{
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 30px;
	padding: 0 20px;
	text-align: center;
	line-height: 1.4;
}
section.price-packs .plans .card .features{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}
section.price-packs .plans .card .features li{
	padding: 0.55rem 2rem;
}
section.price-packs .plans .card .features li:nth-child(odd){
	background-color: rgba(0,0,0,.05);
}
section.price-packs .plans .card .rate{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}
section.price-packs .plans .card .price{
	color: #222;
	font-size: 2.8rem;
	font-weight: 600;
}
section.price-packs .plans .card .time-period{
	font-size: 0.9rem;
}
section.price-packs .plans .card .button{
	width: 80%;
	text-align: center;
}


/* TESTIMONIAL STYLES ************************** */
section.testimonial{
	background-image: url('../images/background_about_us_02.jpg');
	height: 250vh;
	position: relative;
}
section.call-to-action .inner .text{
	width: 70%;
	padding-top: 200px;
}
section.testimonial .quotation{
	display: block;
}
section.testimonial .quotation i{
	font-size: 8rem;
	color: rgba(255,255,255,.5);
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,100&display=swap');

section.testimonial blockquote{
	font-family: 'IBM Plex Serif, serif';
	font-weight: 100;
	font-style: italic;
	font-size: 2.75rem;
	line-height: 1.4;
	margin-bottom: 25px;
	letter-spacing: -1px;
}
section.testimonial .name{
	display: block;
	font-weight: 600;
	margin-bottom: 5px;
}
section.testimonial .company-name{
	display: block;
	color: #ddd;
}

/* FLOATING IMAGES */
section.testimonial .floating-imgs div:nth-child(1){
	top: 0;
	right: 24rem;
	left: unset;
	bottom: unset;
}
section.testimonial .floating-imgs div:nth-child(2){
	top: 0;
	right: -13rem;
	left: unset;
	bottom: unset;
}
section.testimonial .floating-imgs div:nth-child(3){
	bottom: 0;
	right: 0;
	left: unset;
	top: unset;
}


/* SERVICES SECTION STYLES ********************** */

section.services{
	background-color: #fff;
	background-image: url('../images/background_dots_05.png');
	position: relative;
}


@media screen and (max-width: 1199px) {

	section.testimonial{
		height: 170vh;
	}
	section.call-to-action .inner .text{
		/* padding-top: 0; */
	}
}

@media screen and (max-width: 992px) {
	
	section.price-packs .plans .card{
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	
	section.call-to-action .inner .text{
		width: 100%;
		padding-top: 100px;
	}
	section.testimonial{
		height: 120vh;
	}
	section.testimonial .quotation{
		display: block;
	}
	section.testimonial .quotation i{
		font-size: 5rem;
		color: rgba(255,255,255,.5);
	}
	section.testimonial blockquote{
		font-size: 1.75rem;
		line-height: 1.4;
	}
}
